# 자료구조
*set : 집합을 구성할 수 있는 자료구조. 중복된 자료는 자료는 존재하지 않고 오직 하나씩만 존재하는 자료들로 이루어진 집합.순서없음

In [ ]:
mystring = 'abcdefghilaenfnadnfargaorgnjandf'

mystring

In [ ]:
mystring[0:11:2]

In [ ]:
strlength = len(mystring)
i=1
while True:
    i+=1
    if i%2:
        print(mystring[i])
    elif i >strlength :
        break
    else:
        pass

In [ ]:
num1 = int(input('첫번째 양수 :'))
num2 = int(input('두번째 양수 :'))
sum = 0
for i in range(num1, num2+1): # i는 num1 과 num2 사이의 값을 가짐
    sum += i # a+=b -> a= a+b
print('sum :', sum)

In [ ]:
mystring = 'asnfdlanelfnalkdfladfa'
lenth=len(mystring)

mystring[::-1]

In [ ]:
restr=''
while lenth>= 1 :
    restr += mystring[lenth-1]
    lenth -= 1
print(restr)

In [ ]:
for i in range(lenth):
    print(mystring[-i-1])

In [ ]:
mystring = 'd f g e  ek ieirfi iewkr  kskfn k '
stri=mystring.split()

In [ ]:
stri
print(stri)

In [ ]:
yang = int(input('눌러 :'))
while True:
    yang
    if yang <= 0 :
        print('잘못 쳤다')
    else :
        print(yang)
        break

# 자료구조
*set은 집합을 구성할 수 있는 자료 구조입니다. 여기에서 말하는 집합이란 중복된 자료는 존재하지 않고 오직 자료들간의 순서는 없는 자료구조. set은 {}을 이용하여 나타냄.빈 집합은 set()으로 나타냄

In [ ]:
myset = {1,2,3,4}
print(myset)

In [ ]:
num = 5
myset.add(num)
print(myset)

In [ ]:
mystr='hello, python'
myset.add(mystr)
print(myset)

In [ ]:
setlen= len(myset)

In [ ]:
print(setlen)
print('\n%s 추가하기' %setlen)

In [ ]:
myset.remove(mystr)
print(myset)

In [ ]:
newset=set()
for i in range(10):
    if str(i).isdigit():
        newset.add(i)
print(newset)
result = sum(newset)
print(result)

In [ ]:
myset = { 3,4,5,6}
numset = { i for i in myset if i%2 ==1}
print(numset)

In [ ]:
numset = {i*i for i in range(10) if i % 2 ==1 }
print(numset)

In [ ]:
numset = {x*y for x in {1,2,3} for y in {2,3,4}}
print(numset)

# list
-순서가 중요하며 자료의 중복도 가능한 자료구조입니다.

In [ ]:
mylist= [1,2,3,4,5]

mylist= mylist + [5,6,7,8,9]
print(mylist)

In [ ]:
mylist = [1,2,3,4,5]
mylist = mylist + [[77,22,11],{22,33,44,55},'hello']
print(mylist)

In [ ]:
mylist = [1,2,3,4,5]
mylist.append([9,8,7,6,5,4])
print(mylist)
mylist.append({5,2,3,1,2})
print(mylist)

In [ ]:
mylist = [1,2,3,4,5]
pos = mylist.index(4)
mylist.insert(pos+1,5)
print(mylist)

mylist = ['월','화','수','목','금']
post = mylist.index('목')
mylist.insert(pos+1,'금')
print(mylist)

In [ ]:
mylist=[1,2,3,4,5,6]
print(mylist)
del mylist[3]
print(mylist)

In [ ]:
mylist = [1,2,3,4,5,6,6]
print(mylist)
mylist.remove(3)
print(mylist)
mylist = ['월']
mylist.remove('월')
print(mylist)

In [ ]:
mylist = [1,2,3,4,5,6,6,7]
print(mylist)

cnt = mylist.count(6)
print(cnt)

In [ ]:
mylist = [1,2,3,4,5,6,6,7]
mylist.sort()#원본데이터를 정렬
print(mylist)
mylist.sort(reverse = True)#내림차순
print(mylist)
sorted(mylist) #원본 데이터 유지
print(mylist)

In [ ]:
mylist = [1,2,3,4,5,6,6,6,7,7,8,8]
sortedlist = sorted(mylist)
print(sortedlist)

sortedlist = sorted(mylist, reverse = True)
print(sortedlist)

In [ ]:
#리스트에서 인덱스와 그에 해당하는 요소를 튜플형태로 가져올 수 있다.
mylist = [1,2,3,4,5,5,6,7,7,8,9,9,9]
for i,v in enumerate(mylist):
    print(i,v, sep=':',end=' , ')

In [ ]:
result = [x * 2 for x in [1,2,3,4,5]]
print(result)

In [ ]:
result = [x * x for x in {5,6,7,7,8}]
print(result)

In [ ]:
namelist = ['홍길동','마구','도둑','기냥','딥러닝']
print(namelist[0],namelist[3])
namelist[0] = '수퍼맨'
namelist

In [ ]:
numlist = [0,102,2,3,4,2,3,434,33]
print(numlist[:2])
print(numlist[5:])
print(numlist[2:5])

In [ ]:
#패킹
data = [1,2,3,4,5]
#언패킹
[a,b,c,d,e] = data
print(a,b,c,d,e)
a,b,c,d,e =data
print(a,b,c,d,e)

In [ ]:
#map함수를 이용하여 float 형을 int형으로 바꿔줌, map(함수,리스트값)
numlist = [1.1,4.4,2.2,7.7]
intnumlist = list(map(int,numlist))
print(intnumlist)

In [ ]:
def addone(input):
    return input +1
numlist = [1.1,4.4,2.2,7.7]
addonenumlist = list(map(addone,numlist))
print(addonenumlist)

# tuple
리스트와 마찬가지로 순서가 중요하며 자로ㅛ의 중복도 가능한 자료구조입니다. 일반괄호()를 이용하여 나타내며 이 자료 구조의 특징은 변경이 불가능하다는데 있습니다. 즉 한 번 생성된 튜플은 자료의 변경이 허락되지 않는다. 하나를 쓸 때는 뒤에 쉼표를 꼭 찍어줘야됨

In [ ]:
mytuple= 1
type(mytuple)

In [ ]:
mytuple = 1,
type(mytuple)
print(mytuple)

In [ ]:
mytuple = (1,2,3,4,4,4,5,5,5)
mytuple[1]

In [ ]:
mytuple[0] = 5  #변경시도가 되지 않는다.

In [ ]:
list(zip([1,2,3,4],[5,6,7,8,8]))

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]
list(zip(a,b))

# Dictionary

In [ ]:
mydic = {'a' : 0 , 'b' : 2 , 'c' : 3}
mydic['a']

In [ ]:
{'a' : 0 , 'b' : 2 , 'c' : 3}['b']

In [ ]:
dict(a = 0 , b= 1, c= 3, d= 4)['b']

In [ ]:
dict(zip(['a','b','c','d'],[0,1,2,3,4]))['c']

In [ ]:
dict([('a',0),('b',2),('c',3)])

In [ ]:
mydic['G'] if 'G' in mydic else 'not exist'

In [ ]:
[k for k in {'a' : 0 , 'b':1, 'c' :2 ,'d' : 3}.keys()]
[k for k in {'a' : 0 , 'b':1, 'c' :2 ,'d' : 3}.values()]

In [ ]:
[k for k,v in {'a' : 0 , 'b':1, 'c' :2 ,'d' : 3}.items()]

# 함수

In [ ]:
def sayhello():
    print('안녕하세요')

sayhello()

In [ ]:
def sayhello2(param):
    print(param, '안녕하세요')
sayhello2('김상현씨')

In [ ]:
def printmyinfo(age,name):
    print('내 나이는 {age}이며 내 이름은 {name} 입니다'.format(int(age),name))
age = input('당신의 나이는?')
name = input('당신의 이름?')
printmyinfo(age, name)

In [3]:
def add(input1, input2):
    return input1 + input2
addresult = add(1,5)
print('{} + {} = {}'.format(1,5,addresult))

1 + 5 = 6

In [6]:
def needParam(param):
    print('input :'+str(param))
needParam('힝')

input :힝

In [8]:
#default 값 설정 가능
def needParam(param = 'hello'):
    print('input Value : ',param)
needParam()

input Value :  hello

In [9]:
def home(owner, numofpeople =4 , address= '서울'):
    print('집주인: '+owner, '주소 : ' + address, ' 가족 인원 : '+ str(numofpeople))
home(owner = '김상현',address ='마포구', numofpeople = 3)

집주인: 김상현 주소 : 마포구  가족 인원 : 3

In [10]:
def home(owner, numofpeople =4 , address= '서울'):
    print('집주인: '+owner, '주소 : ' + address, ' 가족 인원 : '+ str(numofpeople))
home(owner = '김상현','마포구', numofpeople = 3)

SyntaxError: positional argument follows keyword argument (<ipython-input-10-d6c26b367673>, line 3)

In [12]:
#하나의 변수의 여러개값을 넣을 시에 *변수를 쓴다
def addnum(*nums):
    sum = 0;
    for x in nums :
        sum+= x ;
    
    print('sum :', sum)
addnum(1,2,3,4,5)

sum : 15

In [15]:
# **변수 는 딕셔너리 형태로 넣는다 *변수는 튜플형태
def carinfos(**carplates):
    for k in carplates.keys():
        print('차 종류 :', k)
carinfos(audi = '1234', bmw = '5634', benz='1234')

차 종류 : audi
차 종류 : bmw
차 종류 : benz

In [17]:
def carinfos(**carplates):
    for (k,v) in carplates.items():
        print('{} - {} :'.format(k,v))
carinfos(Audi = '1234', BMW = '3552', Benz = '94949')

Audi - 1234 :
BMW - 3552 :
Benz - 94949 :

In [18]:
def myinfo():
    name = '홍길동'
    def printmyinfo():
        print(name)
    printmyinfo()
myinfo()

홍길동

In [20]:
def displayresult():
    names = str()
    def concatenate(name1, name2):
        nonlocal names
        names = names +name1+name2
        print(names)
    
    concatenate('a','b')
displayresult()

ab

In [21]:
name = '김철수'
def myinfo():
    name = '홍길동'
    def printmyinfo():
        global name
        print(name)
    printmyinfo()
myinfo()

김철수

In [22]:
def sayhello(count):
    if count <= 0 :
        return
    print('hello')
    sayhello(count-1)
sayhello(5)

hello
hello
hello
hello
hello

In [23]:
def factorial(n):
    if n ==1 :
        print(1, end = ' ')
        return 1
    print(n, 'x', end = '')
    return n*factorial(n-1)
print('\n','result :', factorial(5))

5 x4 x3 x2 x1
 result : 120

In [29]:
def documentFunction():
    '''우리 진성이가 병원에 갔으면 좋겠다
    히히히히히히'''
print(documentFunction.__doc__)

우리 진성이가 병원에 갔으면 좋겠다
    히히히히히히

In [31]:
def addone(input):
    return input + 1
numlist = [1.1,2.2,4.4,7.7]
addonenumlist = list(map(addone,numlist))
print(addonenumlist)

[2.1, 3.2, 5.4, 8.7]

In [32]:
numlist = [1.1,4.4,2.2,7.7]
addonenumlist = list(map(lambda x : x+1, numlist))
print(addonenumlist)

[2.1, 5.4, 3.2, 8.7]

In [34]:
numlist = [1,4,2,6]
numlist2 = [2,3,4,5]
multiplynumlist=list(map(lambda x, y :x +y, numlist, numlist2))
print(multiplynumlist)

[3, 7, 6, 11]

In [35]:
addfunc = lambda x: x+1
numlist= [1.1,4.4,2.2,7.7]
addonenumlist = list(map(addfunc,numlist))
print(addonenumlist)

[2.1, 5.4, 3.2, 8.7]

In [37]:
value = ( lambda x : x +1)(10)
print(value)

11

In [38]:
input = 5
value = (lambda x : x+input)(10)
print(value)

15

In [39]:
input= 5
vlaue =(lambda : input)()
print(value)

15

In [41]:
numlist = list(range(10))
print(numlist)
evennumlist = list(map(lambda x : str(x) if x %2== 0 else x, numlist))
print(evennumlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['0', 1, '2', 3, '4', 5, '6', 7, '8', 9]

In [42]:
#filter 함수 와 람다 함수를 이용하여 리스트의 데이터에서 짝수 추출하는 예제
numlist = list(range(10))
print(numlist)

evennumlist = list(filter(lambda x: x%2 == 0 ,numlist))
print(evennumlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

reduce 함수에 대해서 알아보도록 하겠습니다. reduce 함수는 리스트에서 순차적으로 매개변수를 가지고 와서 매개변수에 적응하는 함수입니다.

In [43]:
from functools import reduce
a = [1,2,3,4,5,6,7]
(reduce(lambda x, y : x+y, a))

28

In [46]:
from functools import reduce
def reduceFact(n):
    return reduce(lambda x, y : x*y, range(1,n+1))
reduceFact(5)

120

In [47]:
from functools import reduce
def findmax(n):
    max = reduce(lambda x,y : x if x >y else y, n)
    print('max :', max)
a= [1,2,3,5,8,6,4,4]
findmax(a)

max : 8