In [ ]:
print('김상현 간바레요')

In [ ]:
#주석을 의미하낟

In [ ]:
def sayhello():
    print('hi')
sayhello()

# 1.3 세미콜론
파이썬에서는 라인마다 코드를 끝날 때 세미콜론을 쓰지 않습니다. 써도 상관은 없지만 필수 요소는 아닙니다. 다만 코드가 연달아 이어질때 단지 구분하기 요소로 쓰일 수 있는 있습니다.
print('hi') ; print('bye')


# 기본 입출력
여기서 다뤄지는 내용은 파이썬의 가장 기본적인 입출력 기능에 대해서 다룹니다. 보다 자세한 내용은 후반분에서 다루어지며 지금은 기본 코드를 작성하고 확인하는 과정에서 필요한 내용입니다.

In [ ]:
print('2018 '+'캡스톤')
print(str(2018 )+' 캡스톤')# 데이터 변환 자동으로 안해줌 숫자에서 문자를 내가 변화해줘야댐

In [ ]:
print('hi','hello')

In [ ]:
print(1,2,3,4, sep=':')
print(1,2,3,4, sep='&')
print(2,4, sep=' x ')
print('hello','my','world',sep='\n')#공백 사이에 :를 넣고 싶으면 sep='' 사이에 넣으면 된다. \n은 줄 바꿈

# 한줄에 여러값을 출력하지만 값 사이에 공백을 넣는경우

In [ ]:
print(1,2,3, end=' ') # 한줄에 여러값 출력
print(4,5,6)

# 이어지는 값사이에 공백없이 출력하는 경우

In [ ]:
print(1,2,3, end='')
print(4,5,6)

# seperator 와 end 요소를 이용하여 값들을 한 라인에 표현하는 예제

In [ ]:
print(1,2,3, sep = ' : ', end=' &')
print(' : ', end = '')
print(4,5,6, sep= ' : ')

#  2.1.3 print() 포맷 처리
print 함수를 이용하여 문자열을 출력할 때 또 다른 방법인 format 이용할 수 있습니다. 기본 형태는 print('{}'.format(출력문자열))
print 함수 내에 있는 중괄호가 format 함수 내에 있는 출력문자열을 대체하게 됩니다.

In [ ]:
print('{},{}'.format('hello','world'))

In [ ]:
print('내 이름은 {} 입니다'.format('김상현'))

# 2.2 사용자 입력처리

In [1]:
inputvalue = input('당신의 이름은')

print('당신의 이름은'+inputvalue+'입니다')

당신의 이름은DF
당신의 이름은DF입니다

# 숫자로 입력하여도 문자열로 인식되는 예제2

In [2]:
x = input('첫번째 숫자 입력하세요')

y= input('두번째 숫자 입력하세요')
print(x+y)

첫번째 숫자 입력하세요1
두번째 숫자 입력하세요2
12

# 숫자로 입력받고 싶을 경우

In [3]:
x = int(input('첫번째 숫자 입력하세요'))

y= int(input('두번째 숫자 입력하세요'))
print(x+y)

첫번째 숫자 입력하세요1
두번째 숫자 입력하세요2
3

# 연산자
프로그래밍 언어는 기본적으로 수에 대한 연산을 얼마나 빨리 인간을 대신하여 처리해주는 것이 주 목적중의 하나 입니다.

# 3.1기본연산자

In [11]:
print(1+2)
print(2-3)
print(2*3)
print(2/3)
print(3//4) # 몫만을 구해준다
print(3%4) # 나머지 연산자
print(3**4)# 지수 연산자

3
-1
6
0.6666666666666666
0
3
81

In [13]:
# ^ 는 비트 연산자 
a = 6
b = 2
result = a^b
print('XOR : ', result)

XOR :  4

In [15]:
#실수의 반올림
height = float(input('당신의 키를 소수점 둘째자리까지 입력하세요'))
print('키 :', height)
print('키 :', round(height))

당신의 키를 소수점 둘째자리까지 입력하세요3939393939.333
키 : 3939393939.333
키 : 3939393939

In [25]:
a=int(input("나는 현금이 얼마가 있는가"))
b=int(input('사탕의 가격은 얼마인가'))
print('나는 사탕을'+ str(a//b) +'개 살 수있다')

나는 현금이 얼마가 있는가3000
사탕의 가격은 얼마인가70
나는 사탕을42개 살 수있다

In [36]:
print(True and (3==2))
print(True or not (3==2))

False
True

# 비트 연산자
* & : 두 수가 모두 True 일 때만 True
* | : 두 수 중에서 최소 하나만 True 이면 True
* ^ : 두 수가 서로 다를때만 True
* ~ : 해당하는 수의 비트를 반전시킴

In [35]:
3&7
3|7
3^7
~13

-14

# 연산자 우선수위
1.지수 연산자
<br>2.곱셈 나눗셈
<br>3.덧셈 뺄셈

# 4. 변수

In [40]:
#10진수 <-> 2진수 변환
bin(10)

'0b1010'

In [41]:
int('0b1010',2)

10

In [42]:
#10진수 <-> 8진수 변환
oct(10)

'0o12'

In [43]:
int('0o12',8)

10

In [44]:
1,000,000

(1, 0, 0)

In [47]:
a, b, c = 1,000,000
print(a)
print(b)
print(c)

1
0
0

In [53]:
strData = "Brown's house"
print(strData); print('\n')
strData2 = 'he said "l am happy"'
print(strData2)

Brown's house


he said "l am happy"

In [63]:
d = 'he said "l\'m happy"'
print(d)

he said "l'm happy"

'he said "l\'m happy"'

In [70]:
c = '''
우리가 지금
여기에 있는 이유는
캡스톤을 하기 위해서
입니다
'''
print(c)

우리가 지금
여기에 있는 이유는
캡스톤을 하기 위해서
입니다

# 4.2.2 문자열 처리

In [71]:
strData = 'hello'
strData[2] = 'k'

TypeError: 'str' object does not support item assignment

In [73]:
newStrData = strData.replace('e','k') # replace 함수를 이용한 문자열 변경하여 새로운 문자열 생성
newStrData

'hkllo'

In [77]:
strData[1:3]
strData[:2] + 'k'+ strData[3:]

'heklo'

In [81]:
strData[0:-2] # 마이너스 사용시 hello는 맨 마지막이 -1

'hel'

In [84]:
strData1 = 'hell'
strData2 =' yes'
strData3 = ' no'
plus = strData1 + strData2 + strData3
print(plus)

hell yes no

In [85]:
print('=' * 10)

==========

In [87]:
print('='*10)
for i in range(3):
    print('=', end = ''); print(' '*8, end = ''); print('=')
print('='*10)

==========
=        =
=        =
=        =
==========

In [88]:
for i in range(3):
    print('=        =')

=        =
=        =
=        =

In [90]:
strData = 'hello, my world'
print(strData[2], strData[3], strData[0])

l l h

# 문자열 슬라이싱
문자열 변수명 [시작인덱스 : 종료 인덱스 : 오프셋] -> 오프셋은 건너뛰는 간격을 말한다,

In [ ]:
strData = '123456789'
strData[0:5:2]

# 문자열 처리를 위한 %s 정수는 %d format

In [98]:
strData = 'l have %s cars ' %'nice'
print(strData)

l have nice cars

In [99]:
strData =' have %s %d cars' %('nice', 3)
print(strData)

 have nice 3 cars

In [102]:
strData= '|' + '%-20s' % 'hello' + '|'
strData2= '|' + '%20s' %'hello' + '|'
print(strData)
print(strData2)
#%-숫자s <- 숫자 만큼의 공간을 설정학고 그 영역에서 빼기 부호가 있으면 왼쪽 정렬 없으면 오른쪽 정렬

|hello               |
|               hello|

In [105]:
strData = '|' + '%-20.4f' %345.1231244+'|'
print(strData)
# 4f 이면 넷째짜리까지 보여줘라

|345.1231            |

In [107]:
strData = 'l have {} cars'.format(2)
print(strData)

l have 2 cars

In [109]:
strData = 'l have {shape} {num} cars'.format(shape = 'nice', num = 3)
print(strData)

l have nice 3 cars

In [111]:
shape = 'nice'
num=  '3'
strData = 'l have {} {} car'.format(shape, num)
print(strData)

l have nice 3 car

In [112]:
'hi'.upper()

'HI'

In [114]:
'HI'.lower()

'hi'

# 문자열 나누기

In [115]:
strData = 'this is my home. where do you live'
result = strData.split()
print(result)

['this', 'is', 'my', 'home.', 'where', 'do', 'you', 'live']

In [120]:
strData = 'this is my home. where do you live'
result = strData.split('m')
result2 = strData.split('my')
print(result)
print(result2)

['this is ', 'y ho', 'e. where do you live']
['this is ', ' home. where do you live']

In [121]:
strData = ' this is my home'
strReplace = strData.replace('my', 'your')
print(strReplace)

 this is your home

In [126]:
strData = 'this is my home, where do you live'
index = strData.find('w')
index
print('h는 인덱스 {}에 있습니다'.format(index))

h는 인덱스 17에 있습니다

In [128]:
strData = 'hello'
strResult = strData.join('acbd')
print(strResult)

strData = ' '
strResult = strData.join('abcde')
print(strResult)

ahellochellobhellod
a b c d e

In [130]:
strData = '            hello                  '
strResult = strData.lstrip() # 양쪽 다 지울 때는 strip, 오른쪽 공백은 rstrip
print(strResult)

hello

# 5. if 조건문
if 조건문 1:
    <br>코드
<br>elif 조건문2 :
    <br>코드
<br>elif 조건문 n :
    <br>코드
<br>else:
    <br>코드

In [131]:
x = int(input('정수를 입력하세요 '))
if x % 2 == 0:
    print('짝수')
else:
    print('홀수')

정수를 입력하세요3
홀수

In [133]:
x = int(input('정수를 입력하세요'))
if x>0 :
    print('양수')
elif x<0:
    print('홀수')
else:
    print('0')

정수를 입력하세요2
양수

In [136]:
color = input('색깔을 문자열로 입력하시오')
if color == 'red':
    print('빨강')
elif color =='blue':
    print('파랑')
else:
    print('지정되지 않은 색깔 입니다',color)

색깔을 문자열로 입력하시오eke
지정되지 않은 색깔 입니다 eke

In [138]:
lunchtime = input('점심 먹으러 갈까요')
if lunchtime == 'y':
    whattoeat = input('햄버거 드싈?')
    if whattoeat == 'y':
        print('점심은 햄버거')
    else:
        print('다른거 골라')
else:
    print('점심 안머금요 ㅅㄱ')

점심 먹으러 갈까요y
햄버거 드싈?n
다른거 골라

# while 함수

In [140]:
print('짝수를 입력하면 종료됩니다')
num = -1
while num % 2 != 0:
    num = int(input('정수를 입력하세요'))
print ('종료 :', num )

짝수를 입력하면 종료됩니다
정수를 입력하세요1
정수를 입력하세요3
정수를 입력하세요5
정수를 입력하세요7
정수를 입력하세요6
종료 : 6

In [143]:
print('짝수를 입력하면 종료됩니다')
num = -1
while  True :
    num = int(input('정수 입력'))
    if num % 2 == 0:
        break
print('종료', num)

짝수를 입력하면 종료됩니다
정수 입력2
종료 2

In [144]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [145]:
for x in range(10):
    if x %2 == 1:
        print(x)

1
3
5
7
9

In [151]:
for x in range(10):
    if x == 8 :
        break
print('중단된 지점의 숫자 :' ,x)

중단된 지점의 숫자 : 8

In [152]:
print('음수를 입력하면 종료됩니다')
while True :
    num = int(input('정수를 입력해'))
    if num >= 0:
        continue
    break

음수를 입력하면 종료됩니다
정수를 입력해3
정수를 입력해4
정수를 입력해-1

In [154]:
while True:
    num = int(input('dfdf'))
    if num >0:
        continue
    elif num == 0 :
        pass
    else:
        break

dfdf4
dfdf5
dfdf0
dfdf-1

# 자료구조
*set
<br>*list
<br>*dictionary
<br>*tuple